.btn {
    border: none;
    font-weight: lighter;
    text-align: center;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 40px;
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
}

.btn-primary:hover {
    background-color: rgb(0, 105, 217);
    border-color: rgb(0, 98, 204);
}

.contact-button {
    font-size: 22px;
}

.contact-button:hover {
    color: rgb(0, 105, 217);
}