.card {
    justify-self: stretch;
    cursor: pointer;
    position: relative;
    font-size: 4em;
    overflow: hidden;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transform-style: preserve-3d;
    display: flex;
}

.front {
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.back {
    font-size: 0.25em;
    line-height: 1.4em;
    padding: 20px;
    height: 100%;
    backface-visibility: visible;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    z-index: 0;
}

#content {
    width: 100%;
    height: 85vh;
    margin: 100px 0 20px 0;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#binary {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
    background: rgb(255, 255, 255);
    align-items: center;
}

#qa {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 11;
}

#js {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 9;
}

#js .front {
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 20px;
}

#java {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 11;
}

#php {
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 4;

}

#net {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 11;

}

#events {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 7;
}

#blog {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 10;
}

#contacts {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 10;
    grid-row-end: 11;
}

#contacts .back {
    justify-content: space-evenly;
    align-items: center;
}

/* Cars animations */
.slideDown {
    transform: translateY(0);
}

.card.slideDown:hover > .front {
    animation: slideDown 1s;
    animation-fill-mode: forwards;
}

.slideUp {
    transform: translateY(0);
}

.card.slideUp:hover > .front {
    animation: slideUp 1s;
    animation-fill-mode: forwards;
}

.slideRight {
    transform: translateX(0);
}

.card.slideRight:hover > .front {
    animation: slideRight 1s forwards;
}

.slideLeft {
    transform: translateX(0);
}

.card.slideLeft:hover > .front {
    animation: slideLeft 1s;
    animation-fill-mode: forwards;
}

.rotate {
    transform: rotate(0);
    perspective: 1000px;
    backface-visibility: hidden;
}

.card.rotate:hover > .front {
    animation: rotateCard 1s;
    animation-fill-mode: forwards;
}

.card.rotate:hover > .back {
    animation: rotateCardBack 1s;
    animation-fill-mode: forwards;
}

.slideTopRight {
    transform: translateY(0);
    transform: translateX(0);
}

.card.slideTopRight:hover > .front {
    animation: slideTopRight 1s;
    animation-fill-mode: forwards;
}

.slideBottomLeft {
    transform: translateY(0);
    transform: translateX(0);
}

.card.slideBottomLeft:hover > .front {
    animation: slideBottomLeft 1s;
    animation-fill-mode: forwards;
}

.fadeOut {
    opacity: 1;
}

.card.fadeOut:hover > .front {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes slideTopRight {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, -100%);
    }
}

@keyframes slideBottomLeft {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 100%);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes rotateCard {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(-180deg);
    }
}

@keyframes rotateCardBack {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 800px) {
    #binary {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 6;
        background: rgb(255, 255, 255);
        align-items: center;
    }

    #js {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    #events {
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 3;
    }


    #blog {
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    #contacts {
        grid-column-start: 9;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    #java {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 6;
        grid-row-end: 8;
    }

    #php {
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 6;
        grid-row-end: 8;

    }

    #qa {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 8;
        grid-row-end: 11;
    }

    #net {
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 8;
        grid-row-end: 11;

    }
}