/* Colors for background */
.bg-white {
    background: rgb(255, 255, 255);
}

.bg-green {
    background: rgb(94, 179, 114);
}

.bg-red {
    background: rgb(207, 56, 70);
}

.bg-yellow {
    background: rgb(242, 201, 109);
}

.bg-lavender {
    background: rgb(125, 137, 180);
}

.bg-purple {
    background: rgb(83, 36, 104);
}

.bg-blue {
    background: rgb(54, 144, 246);
}

.bg-navy {
    background: rgb(6, 61, 147);
}

.bg-dark-blue {
    background: rgb(0, 34, 81);
}
