body {
    font-family: "Rubik", sans-serif;
    background: rgb(247, 248, 252);
}

.container {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    width: 1024px;

}

.text-white {
    color: rgb(255, 255, 255);
}

.text-bold {
    font-weight: bolder;
}

.text-italic {
    font-style: italic;
}

.lowercase {
    text-transform: lowercase;
}

.v-align-middle {
    align-items: center;
}

.text-small {
    font-size: 16px !important;
}

.text-extra-small {
    font-size: 14px !important;
}

.text-bold {
    font-weight: bolder;
}

.scroll {
    overflow: scroll;
}

@media screen and (max-width: 1023px) {
    .container {
        width: 90%;
    }
}