header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    transition: .20s;
    background: rgb(255, 255, 255);
    animation: .5s ease-out 0s 1 slideInFromTop;
    z-index: 9;
}

#header-wrapper {
    margin: 0 auto;
    padding-top: 2px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    min-height: 60px;
    width: 1024px;

}

#logo {
    padding-top: 10px;
    display: inline-block;
    width: 116px;
    height: 33px;
    cursor: pointer;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1023px) {
    #header-wrapper {
        width: 90%;
    }
}