.menu {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}

.bell {
    width: 24px;
    color: rgb(183, 194, 211);
    cursor: pointer;
}

.bell:hover {
    filter: brightness(85%);
}

.profile {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background: rgb(238, 146, 53);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

#menuToggle {
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 6px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

#menuToggle input:checked ~ ul {
    opacity: 1;
    display: block;
}

#menuToggle input:hover + .profile {
    filter: brightness(90%);
}

#menu {
    position: absolute;
    width: 160px;
    margin: 2px 0 0 -110px;
    padding: 16px 20px;
    background: rgb(255, 255, 255);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    display: none;
    opacity: 0;
}

#menu li {
    padding: 2px 0;
    font-size: 0.9em;
}

.menu .link-item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#menu > .header {
    font-size: 0.9em;
    padding-bottom: 1px;
    text-align: center;
    color: rgb(183, 194, 211);
    border-bottom: 1px solid rgb(183, 194, 211);
    margin-bottom: 6px;
}