.notifications {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 260px;
}

.notification {
    padding: 10px;
    width: 260px;
    color: rgb(255, 255, 255);
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: .25rem;
    opacity: .8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notification.success {
    background-color: #28a745
}

.notification.error {
    background-color: #dc3545;
}

.notification.warning {
    background-color: #ffc107;
}