/* set box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove padding */
ul[class],
ol[class] {
    padding: 0;
}

/* remove margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* default settings for body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* reset default styles for lists with the class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* reset anchor without class to default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* optimize images */
img {
    max-width: 100%;
    display: block;
}

/* fonts for buttons and inputs */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations and transitions for those who prefer don't use them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

